
# Base de datos (local - XAMPP / Laragon)
# DB_HOST=localhost
# DB_PORT=3306
# DB_NAME=citas_medicas
# DB_USER=root
# DB_PASS=
# DB_SSL=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=citas_medicas
DB_USER=root
DB_PASS=